---
import Layout from '../layouts/Layout.astro';
import Navigation from "../components/navigation.jsx";
---

<Layout title="Twister">
	<main class="scale-110 my-20">
		<Navigation client:load/>
	</main>
</Layout>